@import "tailwindcss";

@theme{
    --breakpoint-xs: 20rem;
    --breakpoint-sm: 29rem;
    --breakpoint-md: 48rem;
    --breakpoint-lg: 62rem;
    --breakpoint-xl: 75rem;
}

body{
    font-family: ;
}

html{
    scroll-behavior: smooth;
}

